p{
    font-family: roboto, arial;
}
body{
    margin: 0;
    padding-top: 5rem;
    padding-left: 6.25rem;
    padding-right: 1.5rem;
    background-color: rgb(248, 248, 248);
    height: 75rem;
}
.thumbnail_1{

    width: 18.75rem;
    display: block;
}
.video_title {
    
    font-size: 0.875rem;
 font-weight: bold;
margin-top: 0;
 line-height: 1.25rem;
  margin-bottom: 0.75rem;
  font-family: roboto , arial;
  cursor: pointer;
}
.video_author, .video_stats{
    display: block;

}
.thumbnail_row{
    position: relative;
  
}

.thumbnail{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.video_author_2{
    display: block;
    margin-top: 1rem;
}

.profile{
    vertical-align: top;
    cursor: pointer;
}
.text{

    vertical-align: top;
  
}
.Marques{
    width: 2.3125rem;
    border-radius: 50%;
  
 
}
.video_stats{
    font-size: 0.75rem;
    color: rgb(96, 96, 96);
    margin-top: 0.25rem;
}
.video_author{
    font-size: 0.75rem;
    margin-top: 0;
    color: rgb(96, 96, 96);
    margin-bottom: 0;
}
.row_2{
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 2.8125rem 1fr;
}
.markiplier{
    width:2.3125rem;
    border-radius: 50%;
    display: inline-block;
}
.video_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1.875rem;
    
}
@medias (max-width: 480px){
    .video_grid{
        display: grid;
        grid-template-columns: 1fr;
        width: 50vw;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .video_grid{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
    }
        
}
@media (min-width: 768px) and (max-width: 1024px){
    .video_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1025px) and (max-width: 1280px){
    .video_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video_title{
        font-size: 0.9375rem;
        line-height: 1.5rem;
    }
}



.video_time{
    background-color: black;
    color: white;
    font-size: 0.3125rem;
    font-family: Roboto, Arial;
    font-weight: 500;
    position: absolute;
    right: 0.3125rem;
    bottom: 0.5rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.125rem;
}
a{
    text-decoration: none;
    color: black;
}


    

